<div>
  <div class="row">
    <div class="col">
      <h2>Developer List</h2>
    </div>
  </div>
</div>
<table class="table">
  <thead>
    <tr>
      <th>Developer</th>
      <th>Number of Published Alexa Skills</th>
    </tr>
  </thead>
  <% @developers.each do |developer| %>
    <tbody>
      <tr>
        <td><%= developer.dev_name %></td>
        <td><%= developer.number_of_skills %></td>
      </tr>
    </tbody>
  <% end %>
</table>
